


/********************************************************

        General styles

*********************************************************/

/*  Header main color: #1CBAD7 */ 


body {
    /*font-family: BorisBlackBloxx;*/
    font-family: calibri;
    
}

.page-header{
    font-family:verdana;
}


h3 div {
    font-size: 0.8em;
}

.blackContainer {
    background-color: #000;
    height: 48px;
    padding: 2px;
    text-shadow:none;
    width: 100%;
}

.whiteBold {
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
}

.noShow {
    display: none;
}

.doShow {
   display: block; 
}

.imgframe {
   border: 4px solid #fff;
   -webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    2px 2px 7px rgba(50, 50, 50, 0.6);
    box-shadow:         2px 2px 7px rgba(50, 50, 50, 0.6);
    margin-bottom: 3px;
  }

.previewImage {
    width: 56px;
    height: 56px;
}

.zoneImage {
    width: 300px;
    height: 300px;
}


.disclaimer {
    margin-top: 3em;
}

.small-intro {
    font-size: 11px;
}

.small-margin-bottom {
    margin-bottom: 5px;
}


.left-90 {
    float:left;
    width: 90%;
}


.left-80 {
    float:left;
    width: 80%;
}

.left-60 {
    float:left;
    width: 60%;
}

.left-50 {
    float:left;
    width: 50%;
}

.left-40 {
    float:left;
    width: 40%;
}

.left-20 {
    float: left;
    width: 20%;
}

.left-10 {
    float:left;
    width: 10%;
}


/********************************************************

        Audio player styles

*********************************************************/

#player-wrapper {
    background-color: #1E1E1E;
    color: #fff;
    margin-bottom:0px;
    min-height: 52px;
    padding: 2px;
    text-shadow:none;
    width: 100%;
}

#player-wrapper audio {
    
    width: 100%!important;
}

#player-info {
    padding-bottom: 3px;
    display:block;
    clear:both;
    margin-bottom:5px;
}

#player-info span {
    font-size: 0.8em;
}

#player-container {
    min-height: 40px;
}

#player-container span img {
    width: 32px;
}

#player img {float:right;padding: 5px 5px 0 5px;}

.left-side {
    float:left;
    width: 40%;
}

.right-side {
    float:right;
    width: 60%;
}

.float-right {
    float: right;
}

.stikktittel {
    font-size: 0.8em;
}

.title-track {
    float: left;
}

.player-buttons {
    float: right;
}

.player-buttons img {
    height: 48px; 
    width: 48px;
    float:left;
}

.tracks {
    margin-top:7px;
}

.track {
    margin-top: 1px;
    margin-right: 20px;
    padding: 0px 10px 0px 0px;
}

.track img{
}

.expandplayer {
    padding: 3px;
}

.expandplayer img{
    width: 20px;
    float: right;
    margin-right: 10px;
    padding: 3px;
}

.skip-icon {
    float: right;
    margin-right: 10px;
    padding: 3px;
    width:44px;
}


.insetButton {}

#information-container {
    display: none;
    margin-top: 10px;
}


/********************************************************

        Front page styles

*********************************************************/

#loader {
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 1000;
}


#loader img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    } 

.node-container{
    clear:both;
}

.node-container .last {
    width: 75%;
    float: left;
    word-wrap: break-word;
    white-space:normal!important;
    font-style:normal;
}

.node-container .first {
	width: 20%;
    float: left;
    padding-left: 0px;
    padding-right: 5px;
}


/********************************************************

        Usage page styles

*********************************************************/


#usagePage .ui-collapsible-heading .ui-btn-icon-right .ui-btn-inner {
    padding-bottom: 20px;
    padding-top: 20px;
}

img.custom-icon {
    float: left;
    height: 20px;
    width: 20px;
    padding-right: 10px;
}




/********************************************************

        Map page styles

*********************************************************/



#map-container {
    width:100%;
    min-height:320px;
    overflow:scroll;
    border: 1pt solid black;
}

#narkermap {
}

#markermap {

}

.mapnode img {
    padding-left: 2px;
}

/*.external-link {
    background-image:url('/img/new_window_icon.gif');

}*/



.maplist li { 
    padding: 5px;
}

.maplist img {
    margin-left:2px;
}


ul.maplist {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

}

#dynamap-container {
    width: 1000px;
    height: 600px;
}

#map-canvas {
    width: 600px;
    height: 600px;
}

#dynamap-canvas {
        margin: 0;
        padding: 0;
        height: 960px;
        width: 640px;

}


/********************************************************

        Debug styles

*********************************************************/


#debug-window {
    padding: 10px:
    margin: 5px;
    border: 2 pt solid red;
}

